{#
/**
 * @file
 * Theme global social media links
 *
 * Each social media element variable is only available if entered in the block configuration.
 *
 * Available variables:
 * - Facebook
 * - Twitter
 * - YouTube
 * - Instagram
 * - Flickr
 * - LinkedIn
 */
#}
{%-
  set classes = [
    'block',
    'block-footer__social-media',
    'block-config-provider--' ~ configuration.provider|clean_class,
    'block-plugin-id--' ~ plugin_id_clean|clean_class,
    label ? 'has-title',
  ]
-%}
<div{{ attributes.addClass(classes) }}>
  <div class="block__inner block-social__inner">
    {%- block content -%}
      <div{{ content_attributes.addClass('block__content', 'block-social__content') }}>
        {%- if content.field_global_facebook[0] -%}
          <a href="{{ content.field_global_facebook.0 }}" title="Facebook" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/facebook.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_twitter[0] -%}
          <a href="{{ content.field_global_twitter.0 }}" title="Twitter" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/twitter.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_youtube[0] -%}
          <a href="{{ content.field_global_youtube.0 }}" title="YouTube" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/youtube.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_instagram[0] -%}
          <a href="{{ content.field_global_instagram.0 }}" title="Instagram" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/instagram.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_pinterest[0] -%}
          <a href="{{ content.field_global_pinterest.0 }}" title="Pinterest" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/pinterest.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_flickr[0] -%}
          <a href="{{ content.field_global_flickr.0 }}" title="Flickr" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/flickr.svg') }}</a>
        {%- endif -%}
        {%- if content.field_global_linkedin[0] -%}
          <a href="{{ content.field_global_linkedin.0 }}" title="LinkedIn" target="_blank" class="social-icon__link">{{ source('/themes/contrib/carapace/images/icons/linkedin.svg') }}</a>
        {%- endif -%}
      </div>
    {%- endblock -%}

  </div>
</div>
